<div id = "experinceContent" class = "centerblock">
	<br>
	<h1>As a building structural designer...</h1>

	<p>Majority part of this work is using computer programs to analyze and optimize high-rise buildings design. Nowadays there are many softwares like ETBAS, SAP2000, Abaqus and AutoCAD to support engineers' work. But from time to time lots of unique problems occurs due the specialty of our building type -- too high. Amount of data to be analyzed was huge, and requirement on design was strict. What I did was using API provided by programs to connect them with a series of spreadsheet. Excel is very flexible with data analysis and VBA gives it power to fully control of the process. It took me almost half a year to complete those spreadsheet and finally make the whole analysis procedure as simple as only on click.</p>
	<p>Without doubt that's the greatest experience I gained from this job. More importantly, I also realized that no matter which industry it is, it has to face the evolution and even revolution brought by information technology development. Computer Science and Internet have changed finance, manufacture, pharmaceutical, transportation etc., it will keep reshaping the world. That's why I'm so detemined and excited to start my new career in the industry</p>
	<br>

	<div id = "TTwork">
		<%= image_tag "wuhan1.png", :height => 180, :width => 280 %>
		<%= image_tag "wuhan2.png", :height => 180, :width => 280 %>
		<%= image_tag "chengdu1.png", :height => 180, :width => 280 %>
		<p>*selected projects I've done, photos from TT's website</p>
	</div>
	<br>


</div>

