<div class = "centerblock blogContent">
	<br><h2>Edit Blog</h2>

	<%= render partial: "form" %>

	<p><%= link_to "Cancel", blog_path(@blog), :class => "blogContentLink btn btn-white btn-back aligncenter" %></p><br>
</div>