<div class = "centerblock blogContent">

	<br><h1>My Solutions for Algorithm Problems</h1><br>

	<p><%= link_to "Post New Problem", new_blog_path(),
    							:class => "blogContentLink btn btn-blue btn-newBlog aligncenter" %></p><br>

	<ul>
		<% @blogs.each do |b| %>
			<li><p class = "singleblog"><%= link_to b.name, blog_path(b), 
			:class => "blogContentLink blogContentLink-grey" %></p></li>
		<% end %>
	</ul>

	<br>
	<p>Check all my solutions at 
		<%= link_to "Github", "https://github.com/trump812/Algorithm-Leetcode-",
							 	:class => "paraLink",
							 	:target => "_blank" %>,
		More blogs comming...
	</p>
	<br>

</div>