

<div id = "homeContent" class = "centerblock"> 
	<br>
	<h1>On the way to become a full stack developer</h1>
	<p>
		I'm a structural designer for high-rise buildings and project manager in New York City. I'm also a big fan of coding and solving problems by applying programming technologies. Even though I've been in the architecture industry for almost three years, I'm now following my heart to start a new career in IT world.
	</p>
	<p>
		For the past couple of months I've been teaching myself on website development skills using HTML, CSS, JavaScript, jQuery, Ruby on Rails, Git etc. Thanks for Google that I can get access to a lot of resources that help me learn and improve rapidly. <%= link_to "The Odin Project", "http://www.theodinproject.com/home", :class => "paraLink", :target => "_blank" %> is one of the learning websites I mostly refer to. I've included some of the small projects I've completed from that website as a track of study. I've also collected some other projects, games, website and solutions to algorithm problems I've done in the past.
	</p>
	<br>
</div>