	<div id = "calContainer">

	<div class="display">
		<div id = "dis"> 0 </div>
	</div>

		<table id = "caltable">
			<tr>
				<th class = "calculatorGrey calculatorCell">
					AC
				</th>
				<th class = "calculatorGrey calculatorCell">
					+/-
				</th>
				<th class = "calculatorGrey calculatorCell">
					%
				</th>
				<th class = "calculatorOrange calculatorCell">
					/
				</th>
			</tr>
			<tr>
				<th class = "calculatorWhite calculatorCell">
					7
				</th>
				<th class = "calculatorWhite calculatorCell">
					8
				</th>
				<th class = "calculatorWhite calculatorCell">
					9
				</th>
				<th class = "calculatorOrange calculatorCell">
					x
				</th>
			</tr>	
			<tr>
				<th class = "calculatorWhite calculatorCell">
					4
				</th>
				<th class = "calculatorWhite calculatorCell">
					5
				</th>
				<th class = "calculatorWhite calculatorCell">
					6
				</th>
				<th class = "calculatorOrange calculatorCell">
					-
				</th>
			</tr>	
			<tr>
				<th class = "calculatorWhite calculatorCell">
					1
				</th>
				<th class = "calculatorWhite calculatorCell">
					2
				</th>
				<th class = "calculatorWhite calculatorCell">
					3
				</th>
				<th class = "calculatorOrange calculatorCell">
					+
				</th>
			</tr>
			<tr>
				<th colspan = "2" class = "calculatorWhite calculatorCell">
					0
				</th>
				<th class = "calculatorWhite calculatorCell">
					.
				</th>
				<th class = "calculatorOrange calculatorCell">
					=
				</th>
			</tr>					
		</table>
	</div>