<br><h1 class="centerElement">Snake Game</h1>

<div class="startBtnSNK centerElement">New Game</div><br>

<div id="scoreBoardSNK">
	Record: <div class = "recordSNK">0</div>
	Score: <div class = "dynScoreSNK">0</div>
</div>
<div id="mainBoardSNK">
</div>
<br>