<br><h1 class="centerElement">Tic-Tac-Toe Game</h1>
<div class="resetBtnTTT centerElement">New Game</div><br>
<div class="centerElement">Player 1 is "O", Player 2 is "X"</div><br>
<div id="TTTcontainer"></div><br>