<div id = "calContainer">

	<div class="display">
		<div id = "dis"> 0 </div>
	</div>

	<div class = "keyboard">
		<table id = "caltable">
			<tr>
				<th class = "grey">
					AC
				</th>
				<th class = "grey">
					+/-
				</th>
				<th class = "grey">
					%
				</th>
				<th class = "orange">
					/
				</th>
			</tr>
			<tr>
				<th class = "white">
					7
				</th>
				<th class = "white">
					8
				</th>
				<th class = "white">
					9
				</th>
				<th class = "orange">
					x
				</th>
			</tr>	
			<tr>
				<th class = "white">
					4
				</th>
				<th class = "white">
					5
				</th>
				<th class = "white">
					6
				</th>
				<th class = "orange">
					-
				</th>
			</tr>	
			<tr>
				<th class = "white">
					1
				</th>
				<th class = "white">
					2
				</th>
				<th class = "white">
					3
				</th>
				<th class = "orange">
					+
				</th>
			</tr>
			<tr>
				<th colspan = "2" class = "white">
					0
				</th>
				<th class = "white">
					.
				</th>
				<th class = "orange">
					=
				</th>
			</tr>					
		</table>
	</div>

	<div class = "calReload" onClick="window.location.reload()"> 
	Refresh Calculator
	</div>
</div>