<div id = "footer" class = "centerblock">
		<div id = "footerNote">Site Created by Trump</div>
		<div id = "network">
			<%= link_to image_tag("GitHub-Mark-32px.png"), 
						"https://github.com/trump812",
						:class => "imglink",
						:target => "_blank" %>
			<%= link_to image_tag("FB-f-Logo__blue_50.png", :width => 32, :height => 32), 
						"https://github.com/trump812",
						:class => "imglink",
						:target => "_blank" %>
		</div>
</div>