
	<div id = "headerContainer" class = "centerblock">
		<div id = "logo">
		Trump {Xi Zhang}
		</div>
	</div>


	<div id = "navbarContainer" class = "centerblock">
		<div id= "navbar">
			<uL>
				<li>
					<%= link_to "Home", "/home", :class => "liLink" %>
				</li>
				<li>
					<%= link_to "Coding Blog", "/blog", :class => "liLink" %>
				</li>
				<li>
					<%= link_to "Experience", "/experience", :class => "liLink" %>
				</li>
				<!--<li>Interest</li>-->
				<li>
					<%= link_to "Contact", "/contact", :class => "liLink" %>
				</li>
			</ul>
		</div>
	</div>
