
	<div id = "headerContainer" class = "centerblock">
		<div id = "logo">
		Trump = Xi Zhang
		</div>
	</div>


	<div id = "navbarContainer" class = "centerblock">
		<div id= "navbar">
			<uL>
				<li>Home</li>
				<li>Coding Blog</li>
				<li>Experience</li>
				<li>Interest</li>
				<li>Contact</li>
			</ul>
		</div>
	</div>
